.postSection {
  width: 100%;
  padding-left: 250px;
  margin-top: 50px;
}

.editorContainer {
  width: 90%;
  margin: auto;
}

.contentTitle {
  width: 60%;
  height: 50px;
  margin-bottom: 30px;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #616161;
  color: white;
  font-size: x-large;
}

.firstImgContainer {
  margin-bottom: 30px;
}

.firstImgBox {
  display: block;
  width: 60px;
  background-color: rgb(166, 101, 209);
  padding: 5px 10px;
  font-size: small;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
}

.firstImgInput {
  display: none;
  color: black;
}

.previewBox {
  width: 230px;
  height: 230px;
  border: 1px solid rgb(166, 101, 209);
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white;
}

.categorySelectBox {
  display: block;
  width: 300px;
  font-size: medium;
  padding: 5px 10px;
  margin-bottom: 30px;
  outline: none;
  background-color: #dbdbdb;
  border-radius: 10px;
}

.editorBox {
  width: 100%;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 50px;
}

.postBtn {
  display: block;
  background: transparent;
  color: white;
  border: 1px solid rgb(166, 101, 209);
  border-radius: 10px;
  font-size: large;
  padding: 10px 15px;
  margin: auto;
  margin-bottom: 100px;
  cursor: pointer;
  transition: all 0.5s;
}

.postBtn:hover {
  background-color: rgba(166, 101, 209, 0.678);
}

.loading {
  padding-left: 250px;
  margin: auto;
}

.spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(360deg);
  }
}