.detailContainer {
  width: 100%;
  margin-left: 250px;
  color: white;
}

.detailSection {
  width: 60vw;
  margin: 0 auto;
  margin-top: 100px;
}

.contentTitle {
  font-size: xx-large
}

.countSection {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.createdAt {
  margin-right: 10px;
}

.countBox {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.count {
  margin-left: 5px;
  font-size: 0.8rem;
  font-weight: bold;
}

.icon {
  color: rgb(204, 204, 204);
}

.tag {
  width: fit-content;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 3px 8px;
  background-color: rgb(42, 46, 51);
  color: rgb(166, 101, 209);
  border-radius: 10px;
}

.previewContainer {
  background-color: white;
  margin-bottom: 100px;
}

