.detailContainer {
  width: 100vw;
  padding-left: 250px;
  color: white;
}

.detailSection {
  width: 60%;
  margin: auto;
  margin-top: 100px;
}

.contentTitle {
  margin-bottom: 50px;
}

.previewContainer {
  background-color: white;
}