.sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  background-color: #1D1F25;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.616);
}

.topImg {
  box-shadow: inset 5px 10px 20px 3px white;
}

.imgContainer {
  box-shadow: inset 0 10px 30px -4px rgb(255, 255, 255);
}

.imageContainer {
  position: relative;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 97%;
  box-shadow: inset 0 -5px 20px 10px rgba(0, 0, 0, 0.63);
}

.profileBox {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.profile {
  border-radius: 100%;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.664);
}

.name {
  font-weight: 700;
  margin-top: 10px;
}

.jobName {
  font-size: small;
  font-weight: bold;
  color: #969696;
  margin-top: 5px;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
}

.category {
  margin: 10px;
  font-size: large;
  font-weight: 600;
}