html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #181B1F;
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
}

html::-webkit-scrollbar {
  background-color: #181B1F;
  width: 10px;
}

html::-webkit-scrollbar-thumb {
  background-color: rgb(172, 172, 172);
  border-radius: 10px;
}