.home {
  width: 100%;
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeTitle {
  font-size: xxx-large;
  font-weight: bold;
  color: rgb(166, 101, 209);
  margin: 100px 0;
}

.contentList {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}