.home {
  width: 100%;
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.homeTitle {
  font-size: xxx-large;
  font-weight: bold;
  color: rgb(166, 101, 209);
  margin: 100px 0;
  text-shadow: 0px 0px 50px rgb(255, 255, 255);
}

.contentList {
  max-width: 888px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  display: inline-flex;
}