.home {
  width: 100%;
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeTitle {
  font-size: xxx-large;
  font-weight: bold;
  color: rgb(226, 226, 39);
  margin: 100px 0;
}

.contentList {
  margin-top: 50px;
}